// Variables

// The accent color for the site, ex. the header background
$accent-value:                      #3f86c3;
// The accent color, but lightened
$accent-light-value:                #5da4e1;
// The accent color, but darkened
$accent-dark-value:                 darken($accent-value, 10%);
// A color contrasting the accent color, ex. the header text
$accent-contrast-value:             #FFF;

$breakpoint-wing: 56rem;
$breakpoint-narrow: 36rem;

// We define everything as CSS variables to make it easy to add
// dark color schemes or user-defined color schemes
:root {
  --serif: 'Times New Roman', Times, FreeSerif, serif;
  --sans: Arial, Helvetica, FreeSans, 'Liberation Sans', sans-serif;
  --mono: Consolas, NimbusMono, FiraMono, UbuntuMono, monospace;

  --bk-wing: #{$breakpoint-wing};
  --bk-narrow: #{$breakpoint-narrow};

  --acc: #{$accent-value};
  --acc-light: #{$accent-light-value};
  --acc-dark: #{$accent-dark-value};
  --acc-cont: #{$accent-contrast-value};

  --main-bg: #F8F9FA;
  --main-col: #000;
  --content-bg: #FFF;
  --content-col: #000;
  --border-col: #dee2e6;

  --hover-bg: rgba(0, 0, 0, .2);

  --head-bg: var(--acc);
  --head-col: var(--acc-cont);
  --footer-bg: var(--main-bg);
  --footer-col: var(--main-col);

  --pre-bg: #e9ecef;
  --pre-col: #000;
  --pre-bord: #CCC;
  --a: var(--acc);
  --a-bg: rgba(0, 0, 0, .1);
  --a-hover: var(--acc-dark);
  --a-hover-bg: rgba(0, 0, 0, .2);

  @media (prefers-color-scheme: dark) {
    --acc-cont: #D5D5D5;

    --main-bg: #202020;
    --main-col: #D5D5D5;
    --content-bg: #333;
    --content-col: #D5D5D5;
    --border-col: #777;

    --head-bg: #16163F;

    --pre-bg: #292929;
    --pre-col: #DDD;
    --pre-bord: #CCC;
    --a: var(--acc-light);
    --a-bg: rgba(255, 255, 255, .075);
    --a-hover: var(--acc);
    --a-hover-bg: rgba(255, 255, 255, .15);
  }
}

// In theme styling we use SASS variables instead of CSS variables in case we want to use special values
// such as "revert" or "unset"
// Fonts
$sans: var(--sans);
$serif: var(--serif);
$monospace: var(--mono);

// Accent colors
$accent-color: var(--acc);
$accent-dark-color: var(--acc-dark);
$accent-contrast-color: var(--acc-cont);

// Main layout colors
$main-bg: var(--main-bg);
$main-color: var(--main-col);
$header-bg: var(--head-bg);
$header-color: var(--head-col);
$content-bg: var(--content-bg);
$content-color: var(--content-col);
$border-color: var(--border-col);
$footer-bg: var(--footer-bg) !default;
$footer-color: var(--footer-col) !default;

// Individual elements
$pre-color:                         var(--pre-col) !default;
$pre-bg-color:                      var(--pre-bg) !default;
$link-color:                        var(--a) !default;
$link-hover-color:                  var(--a-hover) !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-size-sm:                .875rem !default;
