// Variables

$font-family-serif:                 'Times New Roman', Times, FreeSerif, serif !default;
$font-family-sans-serif:            Arial, Helvetica, FreeSans, 'Liberation Sans', sans-serif !default;
$font-family-monospace:             Consolas, FreeMono, FiraMono, UbuntuMono, monospace !default;

$primary:                           #007bff;
$primary-dark:                      #0056b3;
$primary-contrast:                  #FFF;
$mixed:                             darken($primary, 10%) !default;

$primary-bg:                        var(--prim-bg) !default;
$primary-color:                     var(--prim-txt) !default;
$bg:                                var(--bg) !default;
$txt:                               var(--txt) !default;
$content-bg:                        var(--content-bg) !default;
$footer-bg:                         var(--footer-bg) !default;
$footer-txt:                        var(--footer-txt) !default;
$pre-color:                         var(--pre-txt) !default;
$pre-bg-color:                      var(--pre-bg) !default;
$link-color:                        var(--a) !default;
$link-hover-color:                  var(--a-hover) !default;

:root {
  --serif: #{$font-family-serif};
  --sans: #{$font-family-sans-serif};
  --mono: #{$font-family-monospace};

  --prim: #{$primary};
  --prim-cont: #{$primary-contrast};
  --prim-dark: #{$primary-dark};
  --bk-wing: 768px;
  --bk-narrow: 384px;

  --prim-bg: var(--prim);
  --prim-txt: var(-prim-cont);
  --bg: #F8F9FA;
  --txt: #000;
  --head-bg: #262F60;
  --head-txt: #FFF;
  --content-bg: #FFF;
  --footer-bg: #212529;
  --footer-txt: #dee2e6;
  --btn-bg: #06A;
  --btn-txt: #FFF;
  --btn-bord: transparent;
  --btn-out: #AAA;
  --pre-bg: #e9ecef; // #FAFAEE;
  --pre-txt: #000;
  --pre-bord: #CCC;
  --a: var(--prim);
  --a-hover: var(--prim-dark);
  --tag: #06A;

  @media (prefers-color-scheme: dark) {
    --bg: #202020;
    --txt: #D5D5D5;
    --head-bg: #16163F;
    --head-txt: #DDD;
    --btn-bg: #048;
    --btn-txt: #D5D5D5;
    --btn-bord: #555;
    // --btn-out stays the same between dark and light
    --pre-bg: #292929;
    --pre-txt: #DDD;
    --pre-bord: #CCC;
    --a: #75B9F4;
    --tag: #09A;
  }
}

// Color system

$white:    #fff !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1rem !default;

// Links
//
// Style anchor elements.

// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$line-height-base:            1.75 !default;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.35 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.15 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-color:                 var(--txt) !default;
$table-bg:                    null !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-striped-order:         odd !default;

$table-bg-level:              -9 !default;
$table-border-level:          -6 !default;


// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                .5rem !default;


// Navbar

$navbar-padding-y:                  $spacer / 2 !default;
$navbar-padding-x:                  $spacer !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;
