// Override in your own input directory to add additional styles

// Add styles here, and a dummy style so it doesn't fuss at me
.placeholder {
  display: none;
}

@import "variables";

/* Main Layout */

body {
  > * {
    width: 100%;
  }

  > header, > footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  > header {
    background: $gray-200 linear-gradient(180deg, $gray-200, $white) repeat-x;

    > div:first-child {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  > footer {
    padding: 1.5rem 1rem 1rem;
    color: $footer-txt;
    background-color: $footer-bg;
  }

  > main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background: linear-gradient(180deg, #007bff 30%, #006fe6 100%) repeat-x;
    background-size: auto 1.5rem;
  }
}

.hull {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.fuselage {
  flex: 0 0 66.666666666666%;
  max-width: 66.666666666666%;
  padding-left: 0;
  padding-right: 0;
}

.wing {
  flex: 0 0 16.666666666666%;
  max-width: 16.666666666666%;
}

.page-box {
  border: 1px solid $gray-200;
  box-shadow: inset 0 1px 0 rgba(#FFF, .15), 0 1px 1px rgba(#000, .075);
  border-radius: $border-radius;

  *:last-child {
    margin-bottom: 0;
  }

  dd {
    margin-top: 0;
    padding-top: 0;
    font-weight: 400;
  }

  > .sidebar-item > .sidebar-header, dt {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.sidebar .page-box {
  background-color: $content-bg;
  margin-bottom: 1rem;
}

#content .page-box {
  background-color: $bg;
}

#titlebar {
  padding: 1.5rem 0;
  text-align: left;
  background: $primary-bg linear-gradient(180deg, $mixed, $primary-bg) repeat-x;
  color: $white;
  overflow-wrap: anywhere;
  word-break: normal;
}

#content {
  padding: 1.5rem;
  background-color: var(--content-bg);
}

#statiq-attribution {
  font-size: 0.875em;
  filter: brightness(80%);
  a {
    color: inherit;
  }
}

/* API-specific */
.symbol-context {
  padding: 1rem;
  font-size: 80%;
  > dl {
    margin: 0;
  }
}

.symbol-summary {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.type-hierarchy {
  position: relative;
  > .page-box {
    width: calc(50% - .75rem);
    height: 100%;
    min-height: 12.5rem;
  }
  > .type-diagram {
    position: absolute;
    right: 0;
  }
}

/* Child Pages */
.child-pages {
  .page-box {
    padding: $spacer / 2;
    margin-bottom: $spacer / 2;
  }

  .child-pages {
    display: flex;
    flex-flow: row wrap;
    column-gap: $spacer / 2;
    margin-top: $spacer / 2;
    padding-top: $spacer / 2;
    font-size: 80%;
    border-top: dotted black 1px;

    .child-page {
      display: inline-block;
    }
  }
}


/* Search */
.search-result {
  padding: 1rem;
  margin-bottom: .5rem;

  > .excerpt {
    font-size: $font-size-sm;
  }
}
