@import "variables";

/* Broad element styles */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-family: $sans;
    line-height: 1.15;
}

html, body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    background-color: $main-bg;
    color: $main-color;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $spacer / 2;
    font-family: $serif;
    font-weight: 500;
    line-height: 1.2;
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.35rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.15rem; }
h6 { font-size: 1rem; }

h1, h2, h3 {
    font-family: $serif;
    color: $accent-color;
    &:not(:first-child) {
        margin-top: $spacer * 1.5;
    }
}

h1 {
    padding-bottom: $spacer * 0.15;
    margin-bottom: $spacer * 0.5;
    font-weight: bold;
    filter: brightness(.8);
}

h3 {
    opacity: .8;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}
a:not([href]) {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

code, pre, samp {
    font-family: $monospace;
}

code {
    margin: 0;
    word-wrap: break-word;
}

pre {
    // Remove browser default top margin
    margin-top: 0;
    // Reset browser default of `1em` to use `rem`s
    margin-bottom: 1rem;
    // Don't allow content to break outside
    overflow: auto;

    display: block;
    color: $pre-color;
    background-color: $pre-bg-color;
    font-size: 0.875rem;
}

pre code {
    display: block;
    padding: 0 $spacer/2;
    overflow-x: scroll;
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

table {
    width: 100%;
    border-collapse: collapse; // Prevent double borders
}

th,
td {
    padding: .35rem .5rem;
    vertical-align: top;
    border-top: 1px solid $border-color;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}

tbody + tbody {
    border-top: 2px solid $border-color;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $serif;
}

label {
    // Allow labels to use `margin` for spacing.
    display: inline-block;
    margin-bottom: .5rem;
}

input {
    margin: 0; // Remove the margin in Firefox and Safari
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible; // Show the overflow in Edge
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0; // Undo browser default
}

img {
    vertical-align: middle;
}

small {
    font-size: 80%;
    font-weight: normal;
}

/* Main Layout */
body {
    > * {
        width: 100%;
    }

    > header, > footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    > header {
        padding: $spacer 0 0;
        background: $header-bg;
        color: $header-color;

        a {
            color: inherit;
        }
    }

    > footer {
        padding: 1.5rem 1rem 1rem;
        background-color: $footer-bg;
        color: $footer-color;
    }

    > main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        background: linear-gradient($header-bg, $header-bg) repeat-x;
        background-size: auto 1.5rem;
    }
}

.hull {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.fuselage {
    flex: 0 0 66.666666666666%;
    max-width: 66.666666666666%;
    padding-left: 0;
    padding-right: 0;
}

.wing {
    flex: 0 0 16.666666666666%;
    max-width: 16.666666666666%;
}

/* Top Navbar */
.navbar {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between; // space out brand from logo
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: stretch;
    gap: $spacer / 2;

    &:first-of-type {
        flex-grow: 1;
    }

    a:hover {
        color: inherit;
        background: var(--a-hover-bg);
    }
}

.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
        background-color: unset;

        img {
            filter: brightness(120%);
        }
    }
}

.nav-link {
    display: block;
    padding: .5rem;
}

#logo {
    height: 2.5rem;
}

/* Titlebar */
#titlebar {
    text-align: left;
    overflow-wrap: anywhere;
    word-break: normal;

    .title {
        line-height: 1.5;
        font-family: $serif;
        font-size: 1.75rem;
    }
    small {
        font-size: 64%;
        opacity: .9;
    }
}

.breadcrumbs {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    line-height: 1;

    span::after {
        margin-left: $spacer * 0.5;
        margin-right: $spacer * 0.5;
        content: "/";
        font-weight: bold;
        opacity: .6;
    }

    span:last-child::after {
        content: '';
    }

    a {
        color: inherit;
        opacity: .9;

        &:hover {
            opacity: 1;
        }
    }
}

/* Content */
#content {
    padding: 1.5rem;
    background-color: $content-bg;
    color: $content-color;

    .page-box {
        background-color: $main-bg;
        color: $main-color;
    }
}

/* Footer */
#statiq-attribution {
    font-size: 0.875em;
    opacity: .8;
    a {
        color: inherit;
    }
}

/* Components */
.page-box {
    border: 1px solid $border-color;
    box-shadow: inset 0 1px 0 rgba(#FFF, .15), 0 1px 1px rgba(#000, .075);
    border-radius: .25rem;

    *:last-child {
        margin-bottom: 0;
    }

    dd {
        margin-top: 0;
        padding-top: 0;
        font-weight: 400;
    }

    > .sidebar-item > .sidebar-header, dt {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

// Ensures tables don't overflow the page
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: scroll;
}

// Remove the border from headings of API tables and make the unstriped rows a little bit darker
.table-api {
    thead {
        th {
            border: none;
            background: $header-bg;
            color: $header-color;
            font-size: $font-size-sm;
        }
    }

    tbody {
        tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05)
        }
        tr:nth-of-type(even) {
            background-color: rgba(0, 0, 0, 0.02);
        }
        tr:hover {
            background-color: rgba(0, 0, 0, .075);
        }
        tr td:not(:first-child) {
            font-size: $font-size-sm;
        }
    }
}

/* Sidebars */
.sidebar {
    padding: $spacer $spacer 0;
    margin-top: $spacer * 1.5;
    margin-bottom: 0;
    overflow-y: auto;
    top: 0;
    position: sticky;
    max-height: 100vh;
    font-size: .875rem;

    .page-box {
        background-color: $content-bg;
        color: $content-color;
        margin-bottom: 1rem;
    }
}

// sidebar-root elements can be nested to show root-level styling inside a sidebar
.sidebar-root > .sidebar-item {
    // Root-level items
     > *:first-child {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.875em;
    }
    > :is(.sidebar-header, .sidebar-text) {
        margin-bottom: $spacer * 0.25;
    }
    > .sidebar-children {
        border-top: 3px solid $border-color;
    }
}

.sidebar-item a {
    color: inherit;
}

:where(.sidebar-header, .sidebar-text) {
    padding-left: $spacer / 2;
    
    &:not(:hover):not(:active) {
        opacity: .7;
    }
}

.active > :is(.sidebar-header, .sidebar-text) {
    font-weight: 700;
    background-color: $main-bg;
    color: $main-color;
    opacity: 1;
}

.sidebar-children {
    padding-left: $spacer / 4;
    padding-top: $spacer / 4;
    font-size: .9em;
    font-weight: lighter;
}

/* Right Sidebar */
.edit-link {
    margin-top: $spacer;
    padding-top: $spacer;
    font-size: 0.875em;
    font-weight: 700;
    :not(:first-child) {
        border-top: 1px solid $border-color;
    }
}

/* Search */
input[type="search"] {
    width: 100%;
    padding: .25rem .75rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: var(--content-bg);
    color: var(--content-col);
}

/* Mermaid */
.mermaid {
    overflow: hidden !important;
    visibility: hidden !important;
    margin-bottom: $spacer;
    line-height: 1;
    height: 100%;

    &[data-processed="true"] {
      visibility: visible !important;
    }

    svg {
      height: 100%;
      /* Remove the max-width setting that Mermaid sets */
      max-width: 100% !important;
    }
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon {
    fill: lighten($accent-value, 50%) !important;
    stroke: #000 !important;
  }
  .type-node rect,
  .type-node circle,
  .type-node ellipse,
  .type-node polygon {
    fill: lighten($accent-value, 30%) !important;
    stroke: #000 !important;
  }
  .cluster rect {
    fill: #f8f9fa !important;
    stroke: #dee2e6 !important;
  }
}

/* API-specific */
.symbol-context {
    padding: 1rem;
    font-size: 80%;
    > dl {
        margin: 0;
    }
}

:where(.symbol-context ul, #SeeAlso + ul) {
    padding-left: 0;
    list-style: none;
}

.symbol-summary {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.type-hierarchy {
    position: relative;
    > .page-box {
        width: calc(50% - .75rem);
        height: 100%;
        min-height: 12.5rem;
    }
    > .type-diagram {
        position: absolute;
        right: 0;
    }
}

/* Child Pages */
.child-pages {
    > h4 {
        background: var(--head-bg);
        font-family: $serif;
        color: $accent-contrast-color;
        padding: $spacer * 0.5;
        margin-bottom: $spacer / 2;
    }

    .page-box {
        padding: $spacer / 2;
        margin-bottom: $spacer / 2;
    }

    .child-pages {
        display: flex;
        flex-flow: row wrap;
        column-gap: $spacer / 2;
        margin-top: $spacer / 2;
        padding-top: $spacer / 2;
        font-size: 80%;
        border-top: dotted black 1px;

        .child-page {
            display: inline-block;
        }
    }
}

/* Search */
#search-results > ul {
    padding: 0;
}

.search-result {
    padding: 1rem;
    margin-bottom: .5rem;

    > .excerpt {
        font-size: $font-size-sm;
    }
}
