ArchivePipelines: Api
ArchiveFilter: => GetString("Kind") == "Namespace" || GetString("Kind") == "Revision"
ArchiveOrderKey: DisplayName
DestinationPath: => GetPath("ApiPath").Combine("index.html")
NoSidebar: true
Title: API
Order: 100
Xref: api
---
@{
    string header = "Namespaces";
    var children = Model.GetChildren();
    var revisions = Model.GetChildren().Where(x => x.GetString("Kind") == "Revision").ToDocumentList();
    if (revisions.Any())
    {
        header = "Versions";
        children = revisions;
    }
}
<h1>@header</h1>
@foreach (IDocument document in children)
{
    <h3>@Context.GetTypeLink(document)</h3>
    string summary = document.GetString(CodeAnalysisKeys.Summary);
    if (!summary.IsNullOrWhiteSpace())
    {
        <div>
            @Html.Raw(summary)
        </div>
    }
}