@model IDocument
@{
    IDocument containingAssembly = Document.GetDocument(CodeAnalysisKeys.ContainingAssembly);
    IDocument containingNamespace = Document.GetDocument(CodeAnalysisKeys.ContainingNamespace);
	IDocument containingType = Document.GetDocument(CodeAnalysisKeys.ContainingType);
    if (containingAssembly is null && containingNamespace is null && containingType is null)
		return;
}

<div class="sidebar-root page-box">
    @if (containingAssembly is object)
    {
        <div class="sidebar-item">
            <div class="sidebar-header">Assembly</div>
            <div class="sidebar-text">@Context.GetTypeLink(containingAssembly, false)</div>
        </div>
    }
    @if (containingNamespace is object)
    {
        <div class="sidebar-item">
            <div class="sidebar-header">Namespace</div>
            <div class="sidebar-text">@Context.GetTypeLink(containingNamespace, false)</div>
        </div>
    }
    @if (containingType is object)
    {
        <div class="sidebar-item">
            <div class="sidebar-header">Type</div>
            <div class="sidebar-text">@Context.GetTypeLink(containingType, false)</div>
        </div>
    }
</div>