@await Html.PartialAsync("Api/Section/_Summary")
@{
    <div class="type-hierarchy">
	    <div class="page-box type-diagram">
		    @await Html.PartialAsync("Api/Section/_TypeDiagram")
	    </div>
	    <div class="page-box symbol-context">
		    @await Html.PartialAsync("Api/Section/_SymbolInfo")
	    </div>
    </div>
}
@await Html.PartialAsync("Api/Section/_Syntax")
@await Html.PartialAsync("Api/Section/_Examples")
@await Html.PartialAsync("Api/Section/_Remarks")
@await Html.PartialAsync("Api/Section/_Attributes")
@await Html.PartialAsync("Api/Section/_TypeParameters")
@await Html.PartialAsync("Api/Section/_Constructors")
@await Html.PartialAsync("Api/Section/_Events")
@await Html.PartialAsync("Api/Section/_Fields")
@await Html.PartialAsync("Api/Section/_Properties")
@await Html.PartialAsync("Api/Section/_Methods")
@await Html.PartialAsync("Api/Section/_Operators")
@await Html.PartialAsync("Api/Section/_ExtensionMethods")
@await Html.PartialAsync("Api/Section/_SeeAlso")