@{
	String svg = null;

	// Avoid exceptions if the Mermaid pipeline isn't active.
	if (Context.Pipelines.ContainsKey("Mermaid"))
	{
		var svgDoc = Context.Outputs.FromPipeline("Mermaid")?.FirstOrDefault(doc => doc.Source == Model.Source);
		svg = svgDoc is null ? null : await svgDoc.GetContentStringAsync();
	}

	if (svg != null)
	{
		// Remove the xmlns:xlink attribute - this isn't valid HTML, and the HTML minifier throws a fit when it
		// sees this. Technically we should be using an XML parser here, but that requires AngleSharp.Xml, which isn't
		// shipped with Statiq.
	    var parser = new AngleSharp.Html.Parser.HtmlParser();
	    var element = parser.ParseDocument(svg).Body.FirstElementChild;
	    element.RemoveAttribute("xmlns:xlink");
	    svg = element.OuterHtml;
	}
}

<div class="mermaid svg" data-processed="true">
	@Html.Raw(svg ?? "")
</div>
