<nav class="navbar fuselage">
    <a class="navbar-brand" href="@Context.GetLink("/")">
        @{
            string logo = Document.GetString(SiteKeys.Logo);
            if (!logo.IsNullOrWhiteSpace())
            {
                <img id="logo" src="@logo" alt="@Document.GetString(SiteKeys.SiteTitle)">
            }
            else
            {
                <span>@Document.GetString(SiteKeys.SiteTitle)</span>
            }
        }
    </a>
    <div class="navbar-nav">
        @await Html.PartialAsync("_LeftNavigation")
    </div>
    <div class="navbar-nav">
        @await Html.PartialAsync("_RightNavigation")
        @await Html.PartialAsync("_ExtraNavigation")
    </div>
</nav>