<nav class="navbar navbar-expand-md navbar-light align-items-start fuselage">
    <a class="navbar-brand" href="@Context.GetLink("/")">
        @{
            string logo = Document.GetString(SiteKeys.Logo);
            if (!logo.IsNullOrWhiteSpace())
            {
                <img id="logo" src="@logo" alt="@Document.GetString(SiteKeys.SiteTitle)">
            }
            else
            {
                <span>@Document.GetString(SiteKeys.SiteTitle)</span>
            }
        }
    </a>
    <div id="collapse-topnav">
        <ul class="navbar-nav">
            @await Html.PartialAsync("_LeftNavigation")
        </ul>
        <ul class="navbar-nav">
            @await Html.PartialAsync("_RightNavigation")
            @await Html.PartialAsync("_ExtraNavigation")
        </ul>
    </div>
</nav>