@* The root page of this section is passed in as the model *@

<div class="sidebar-root">
    @* Show the root document of the section at the top of the sidebar *@
    @if (!Model.ContainsKey(Keys.RedirectTo))
    {
        @await Html.PartialAsync("_SidebarItem", (Model, 0))
    }
    @foreach (IDocument document in OutputPages
        .GetChildrenOf(Model)
        .Where(x => !x.ContainsKey(Keys.RedirectTo))
        .OrderBy(x => x.GetInt("Order"))
        .ThenByDescending(x => x.GetDateTime(WebKeys.Published))
        .ThenByDescending(x => x.GetString(Keys.Title))
    )
    {
        @await Html.PartialAsync("_SidebarItem", (document, 2))
    }
</div>
